@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --primaryColor: #606c38;
  --secondaryColor: #93987c;
  --thirdColor: #ff745c;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--secondaryColor);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--black);
}

section {
  padding: 5rem 9%;
}

/* Header*/
.header .header-1 {
  background: #fff;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-1 .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}
.header .header-1 .logo i {
  color: var(--primaryColor);
}

.header .header-1 .search-form {
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.header .header-1 .search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}
.header .header-1 #search-btn {
  cursor: pointer;
}
.header .header-1 #search-btn:hover {
  transform: scale(1.3);
}
.header .header-1 .search-form label {
  cursor: pointer;
  font-size: 2.5rem;
  padding-right: 10px;
  padding-left: 1.5rem;
  color: var(--black);
}

.header .header-1 .icons {
  color: var(--black);
  font-size: 2.5rem;
}
.header .header-1 .icons a {
  color: var(--primaryColor);
}
.header .header-1 .icons a:hover {
  color: var(--primaryColor);
  color: var(--secondaryColor);
  transform: scale(1.3);
}
.header .header-1 .icons a #login-btn {
  cursor: pointer;
}

#search-btn {
  display: none;
}

.header-2 {
  background-color: var(--primaryColor);
  text-align: center;
  padding: 5px;
}

.header-2 .navbar a {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  margin: 5px 0;
  color: #fff;
  display: inline-block;
}
.header-2 .navbar a:hover {
  background-color: var(--secondaryColor);
  border-radius: 7px;
}
.header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-2 .navbar a.active {
  border-radius: 7px;
  background-color: #fff;
  color: var(--black);
}

.bottom-navbar {
  text-align: center;
  background: var(--primaryColor);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}
.bottom-navbar a {
  font-size: 2.5rem;
  padding: 2rem;
  color: #fff;
}
.bottom-navbar a:hover {
  background-color: var(--secondaryColor);
  border-radius: 7px;
}

/* Home Section */
.home {
  background: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
}

.home .row .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--primaryColor);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}
.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content {
  flex: 1 1 42rem;
}

.home .row .books-slider {
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}

.home .row .books-slider a img {
  height: 25rem;
}

.home .row .books-slider a:hover img {
  transform: scale(0.9);
}

.home .row .books-slider .stand {
  width: 100%;
  margin-top: -2rem;
}

.home .row .content h3 {
  color: var(--black);
  font-size: 4.5rem;
}

.home .row .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  line-height: 2;
  padding: 1rem 0;
}

.home .row .content .btn:hover {
  background-color: var(--secondaryColor);
  color: black;
}

/* About Section */
.about .container .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .container h1 {
  font-size: 3em;
  align-items: center;
  text-align: center;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  font-size: 3.3rem;
  padding: 0.5rem 0;
}

.about .row .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
}

.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
  color: var(--primaryColor);
}

.about .row .content .icons-container .icons:hover {
  color: var(--secondaryColor);
  transform: scale(0.9);
}

.about .row .content .icons-container .icons {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 17rem;
  padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
  font-size: 2.5rem;
  color: var(--green);
}

.about .row .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--black);
}

.about .row .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--primaryColor);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}

.about .row .btn:hover {
  background-color: var(--secondaryColor);
  color: black;
}

/* Popular Section */
.populer .box .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--primaryColor);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.populer .box .btn:hover {
  background-color: var(--secondaryColor);
  color: black;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.01rem;
  background: var(--primaryColor);
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: #000;
  background: #fff;
  border: 1px solid var(--primaryColor);
  border-radius: 7px;
}

.populer .populer-slider .box {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  border: var(--border);
  text-align: center;
}

.populer .populer-slider .box:hover {
  border: 1px solid var(--secondaryColor);
}

.populer .populer-slider .box .image {
  padding: 1rem;
  background: linear-gradient(15deg, #eee 30%, #fff 30.2%);
}
.populer .populer-slider .box .image img {
  height: 25rem;
}
.populer .populer-slider .box .icons {
  border-bottom: var(--border-hover);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  transform: translateY(-105%);
}
.populer .populer-slider .box:hover .icons {
  transform: translateY(0%);
}
.populer .populer-slider .box:hover .image {
  transform: translateY(6rem);
}

.populer .populer-slider .box .icons a {
  color: var(--black);
  font-size: 2.2rem;
  padding: 1.2rem 1.5rem;
}

.populer .populer-slider .box .icons a:hover {
  background: var(--primaryColor);
  color: #fff;
}
.populer .populer-slider .box .content {
  background: #eee;
  padding: 1.5rem;
}
.populer .populer-slider .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}
.populer .populer-slider .box .content .price {
  font-size: 1.8rem;
  color: var(--black);
  padding-top: 1rem;
}

.populer .populer-slider .box .content .price span {
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev {
  border: 1px solid var(--black);
  height: 4rem !important;
  width: 4rem !important;
  color: var(--primaryColor) !important;
  background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--primaryColor) !important;
  color: #fff !important;
  transform: scale(1.1);
}

/* Member Section */
.member {
  padding: 1rem 9% !important;
}
.member .container h1 {
  font-size: 3em;
  align-items: center;
  text-align: center;
}
.member .container .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.member .container .row .content span {
  color: var(--primaryColor);
}

.member .container .row .box {
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  border-radius: 0.5rem;
  text-transform: none;
  border: 1px solid var(--primaryColor);
}

.member .row .image {
  flex: 1 1 45rem;
}

.member .row .image img {
  width: 100%;
}

.member .row .content {
  flex: 1 1 45rem;
}

.member .row .content h3 {
  color: var(--black);
  font-size: 3.3rem;
  padding: 0.5rem 0;
}

.member .row .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
}

.member .row .content .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
  color: var(--primaryColor);
}

.member .row .content .icons-container .icons:hover {
  color: var(--secondaryColor);
  transform: scale(0.9);
}

.member .row .content .icons-container .icons {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 17rem;
  padding: 1.5rem 1rem;
}

.member .row .content .icons-container .icons i {
  font-size: 2.5rem;
  color: var(--green);
}

.member .row .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--black);
}

.member .row .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--primaryColor);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.member .row .btn:hover {
  background-color: var(--secondaryColor);
  color: black;
}

/* New Books Section   */
.new .new-slider .box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  border: var(--border);
  margin: 1rem 0;
}
.new .new-slider .box:hover {
  border: var(--border-hover);
  transform: scale(1.03);
}

.new .new-slider .box .image img {
  height: 15rem;
}

.new .new-slider .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.new .new-slider .box .content .price {
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.new .new-slider .box .content .price span {
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.new .new-slider .box .content .stars i {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.new .new-slider-2 .box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  border: var(--border);
  margin: 1rem 0;
}
.new .new-slider-2 .box:hover {
  border: var(--border-hover);
  transform: scale(1.03);
}

.new .new-slider-2 .box .image img {
  height: 15rem;
}

.new .new-slider-2 .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.new .new-slider-2 .box .content .price {
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.new .new-slider-2 .box .content .price span {
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.new .new-slider-2 .box .content .stars i {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

/* Reviews Section */
.reviews {
  padding: 1rem 9% !important;
}
.reviews h1 {
  font-size: 3em;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 6px;
}
.reviews .reviews-slider .box {
  border: var(--border);
  padding: 2rem;
  margin: 2rem 0;
}

.reviews .reviews-slider .box:hover {
  border: var(--border-hover);
}
.reviews .swiper-wrapper .box {
  background: #fff;
  width: calc(33% - 1px);
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.reviews .swiper-wrapper .box:hover {
  transform: scale(1.02);
}

.reviews .swiper-wrapper .box i {
  color: var(--primaryColor);
  font-size: 20px;
}

.reviews .swiper-wrapper .box p {
  text-align: justify;
  color: var(--light-color);
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .swiper-wrapper .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.reviews .box .info .name {
  font-weight: 600;
  color: var(--black);
  font-size: 2rem;
}
.reviews .box .info .job {
  font-size: 19px;
  font-weight: 500;
  color: var(--primaryColor);
}
.reviews .box .info .stars {
  margin-top: 2px;
}
.reviews .box .info .stars i {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.reviews .box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: var(--primaryColor);
  border-radius: 50%;
}
.reviews .content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* Blogs Section */
.blogs .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 10px;
}

.container .heading {
  font-size: 40px;
  margin-bottom: 20px;
  color: #334;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.container .box-container .box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3) {
  display: inline-block;
}

.container .box-container .box .image {
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

.container .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container .box-container .box:hover .image img {
  transform: scale(1.1);
}

.container .box-container .box .content h3 {
  font-size: 20px;
  color: #334;
}

.container .box-container .box .content p {
  font-size: 15px;
  color: #777;
  line-height: 2;
  padding: 15px 0;
}

.container .box-container .box .content .btn {
  display: inline-block;
  padding: 10px 30px;
  border: var(--border);
  color: #fff;
  font-size: 16px;
  border-radius: 7px;
  background: var(--primaryColor);
}

.container .box-container .box .content .btn:hover {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
  color: #000;
}

.container .box-container .box .content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid var(--black);
}

.container .box-container .box .content .icons span {
  font-size: 14px;
  color: #777;
}

.container .box-container .box .content .icons span i {
  color: var(--primaryColor);
  padding-right: 5px;
}

#load-more {
  margin-top: 20px;
  display: inline-block;
  padding: 13px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 7px;
  font-weight: 600;
}

#load-more:hover {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  color: #fff;
}

/* Footer Section */
footer {
  bottom: 0px;
  width: 100%;
  background: #eee;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #334;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
footer .box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #334;
}
footer .box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: var(--primaryColor);
  top: -10px;
}
footer .left .content p {
  text-align: justify;
  font-size: 1.3rem;
}
footer .left .content .social {
  margin: 20px 0 0 0;
}
footer .left .content .social a {
  padding: 0 2px;
}
footer .left .content .social a span {
  height: 40px;
  width: 40px;
  background: var(--primaryColor);
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
}
footer .left .content .social a span:hover {
  background: var(--secondaryColor);
  color: #000;
  transform: scale(1.1);
}
footer .center .content .fas {
  font-size: 20px;
  background: var(--primaryColor);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
}
footer .center .content .fas:hover {
  background: var(--secondaryColor);
  color: #000;
}
footer .center .content .text {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 10px;
}
footer .center .content .phone {
  margin: 15px 0;
}
footer .right form .text {
  font-size: 1.4rem;
  margin-bottom: 2px;
  color: #334;
}

footer .right form .msg {
  margin-top: 10px;
}
footer .right form input,
footer .right form textarea {
  width: 100%;
  font-size: 1.3rem;
  background: #fff;
  padding-left: 10px;
  border: 1px solid var(--black);
  border-radius: 7px;
}
footer .right form input:focus,
footer .right form textarea:focus {
  outline-color: #fff;
  border: 2px solid #334;
}
footer .right form input {
  height: 35px;
}
footer .right form .btn {
  margin-top: 10px;
}
footer .right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--primaryColor);
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  border-radius: 7px;
}
footer .right form .btn button:hover {
  background: #385b64;
  border: 1px solid #000;
}
footer .bottom {
  text-align: center;
  padding: 5px;
  font-size: 1.6rem;
  background: #eee;
}
footer .bottom span {
  color: #000;
}
footer .bottom a {
  color: var(--primaryColor);
  text-decoration: none;
}
footer .bottom a:hover {
  zoom: 110%;
}

/* Loader Section */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container.active {
  display: none;
}

.loader-container img {
  height: 40rem;
}

/* Responsive */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .header-1 {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .member .container .row {
    flex-direction: column-reverse;
  }
  .member .row .image {
    width: 100%;
    flex: none !important;
  }
  .member .container .row .content h3 {
    margin-top: 12px;
    font-size: 2.8em;
    align-items: center;
    text-align: center;
  }

  .member .container .row .content .box {
    width: 100%;
  }
  .member .container .row .content .row-btn {
    display: flex;
    text-align: center;
  }

  .member .container .row .content .btn {
    text-align: center;
    width: 49.6%;
  }
  .reviews .swiper-wrapper .box {
    width: calc(50% - 10px);
    margin: 10px 0;
  }

  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
  footer .box h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header .header-2 {
    display: none;
  }
  .bottom-navbar {
    display: block;
  }
  #search-btn {
    display: inline-block;
  }
  .header .header-1 {
    box-shadow: var(--box-shadow);
    position: relative;
  }
  .header .header-1 .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }
  .header .header-1 .search-form.active {
    top: 115%;
  }
  .home .row .content {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 3.5rem;
  }
  .about .row .content h3 {
    text-align: center;
  }
  .about .row .content p {
    text-align: justify;
  }
  .about .row .content .btn {
    width: 100%;
  }
  .member .container .row .content h3 {
    margin-top: 12px;
    font-size: 2.8em;
    align-items: center;
    text-align: center;
  }

  .member .container .row .content .box {
    width: 100%;
  }
  .member .container .row .content .row-btn {
    display: flex;
    text-align: center;
  }

  .member .container .row .content .btn {
    text-align: center;
    width: 49.6%;
    /* display: inline-block;
    width: 100%; */
  }
  .member .container .row {
    flex-direction: column-reverse;
  }
  .member .row .image {
    width: 100%;
    flex: none !important;
  }
  .reviews .swiper-wrapper .box {
    width: 100%;
  }
  footer {
    margin-bottom: 55px;
  }
  footer .left .content .social {
    text-align: center;
  }
  footer .center .content .phone {
    text-align: center;
  }
  footer .center .content .place {
    text-align: center;
  }
  footer .center .content .email {
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .container .heading {
    font-size: 25px;
  }

  .container .box-container {
    grid-template-columns: 1fr;
  }

  .container .box-container .box .image {
    height: 200px;
  }

  .container .box-container .box .content p {
    font-size: 12px;
  }

  .container .box-container .box .content .icons span {
    font-size: 12px;
  }
}

/* cart */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bagContent {
  width: 100%;
  margin-top: 20px;
  font-size: medium;
}

.bag-item {
  display: flex;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  margin: 0px 6px;
  margin-bottom: 20px;
}

.bag-item-img {
  width: 14%;
}

.bag-item-details {
  flex: 1;
  padding: 15px;
}

.bag-item-details h3 {
  font-size: 2.2rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.bag-item-details p {
  margin: 5px 0;
}

.inc-btn{
  padding: 0px 4px;
  margin-right: 2px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.dec-btn{
  padding: 0px 4px;
  margin-left: 2px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

#totalPrice{
  font-size: 15px;
  font-weight: bold;
  padding-left: 7px;
}
#title-sb{
  padding-left:6px;
  font-size: 25px;
}

.bag-item-details button {
  border: none;
  background: none;
  cursor: pointer;
}

.a2c_btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--primaryColor);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}